@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
body, html {
    padding: 0;
    margin: 0;
}

body {
    background: white;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #222222;
}

.a1 h2 {
    margin: 0;
    padding: 20px;
    padding-left: 10%;
}

.b {
    margin: 20px;
}

.b1 {
    box-shadow: 0 0 2px 1px #2824ff79;
    border-radius: 5px;

    padding: 20px;
    width: 700px;
}

.b1 div div {
    display: flex;
    border: 1px solid #2824ff79;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: white;
    width: fit-content;
    transition: 200ms all;
}

.b1 div div input {
    border: none;
    color: #555555;
    padding-left: 20px;
    font-size: 100%;
    padding-right: 10px;
}

.b1 div div p {
    color: rgb(17, 0, 255);
    border-right: #2824ff79 solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
}

.date input {
    color: rgb(255, 0, 242);
}

.b1 div div input:focus {
    outline: none;
}

.b1 h3 {
    margin: 0;
    margin-left: 30px;
}

.notes {
    height: 100px;
    width: 470px;
    border: none !important;
}

.notes p {
    padding-top: 40px !important;
    border: #2824ff79 solid 1px;
}

.notes textarea {
    outline: none;
    margin-right: 0;
    text-align: initial;
    height: 83px;
    min-height: 83px;
    width: 370px;
    min-width: 370px;
    max-width: 370px;
    padding: 5px;
    border: none;
    border: #2824ff79 solid 1px;
    padding-top: 10px;
    color: #555555;
    font-size: 100%;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.layouts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
}

#submit {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 100%;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background: #2824ff;
    color: white;
    border: 0;
    border-radius: 4px;
   
    transition: 200ms all;
    
    width: 100%;
}

#submit:hover {
    background: #423fff;
}

.dropdown_ul {
    position: absolute;
    margin-left: 80px;
    margin-top: 30px;
    list-style: none;
    z-index: -1;
    opacity: 1;
    transition: all 200ms;
   cursor: default;
   opacity: 0;
   border: 2px solid black;
   width: 200px;
   padding: 0;
   background-color: rgb(255, 255, 255);
}

.dropdown_ul li {
    
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: none;
    
    color: rgb(24, 24, 24);
}

.dropdown_ul li:hover{
    background-color: rgb(207, 207, 207);
}

.dropdown_ul li:active{
    background-color: rgb(172, 172, 172);
}

.dropdown_ul li p{
    margin: 0 !important;
    padding: 0 !important;
}

.dropdown_ul li p:nth-child(2){
    margin-top: 3px;
    margin-left: 10px;
    font-size: 80%;
}

#submit:active {
    outline: 0;
    border: 0;
}
.dropdown_block{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(24, 24, 24, 0);
    width: 100%;
    height: 100vh;
}
.dropdown_ul_shown {
    opacity: 1 !important;
    

}

.current_categories{
    list-style: none;
    padding: 0;
}
.current_categories li{
    background: blue;
    color: white;
    width: 300px;
    margin: 5px;
    padding: 10px;
}

.current_categories li p{
    margin: 0;
    padding: 0;
}

.current_categories li p:nth-child(2){
    margin-top: 3px;
    margin-left: 10px;
    font-size: 80%;
}