@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
body, html {
    padding: 0;
    margin: 0;
}

body {
    background: white;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    color: #222222;
}
a{
    text-decoration: none;
    color: black;
}

.a {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.562);
   
}

.a1 h2 {
    margin: 0;
    padding: 20px;
    padding-left: 10%;
}

.b {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 20px;
   
}
.rows{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-left: 20px;
    transition: all 200ms;

}
.types{
    background-color: rgb(7, 7, 189);
    color: white;
}
.rows:hover{
    background-color: rgba(7, 7, 189, 0.575);
    color: white;
}
.b2{
    background-color: #222222;
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.562);
    color: white;
    margin-left: 20px;
}
