<!DOCTYPE html>
<html lang="en">

<head>
    <title>Finance Manager</title>
    <link rel="stylesheet" href="static/all/add.css?q={{random_number_for_css}}">
<link rel="stylesheet" href="static/head/head.css?q={{random_number_for_css}}">
</head>

<body>
    <div class="dropdown_block"></div>
    <div class="a">
        <div class="a1">
            <h2>Finance Manger</h2>
        </div>
    </div>
    <div class="b">
        <div class="b0"><h4 id="error">{{error}}</h4></div>
        <div class="b1">
            <form action="/addexpen" method="POST" id="expen">
                <h3>Expense</h3>
              
        
                <div class="layouts">
                    
                    <div class="date">
                        <p>Date</p>
                        <input type="date" name="date">
                    </div>
                    <div class="amount">
                        <p>Amount</p>
                        <input type="number" name="amount">
                    </div>
                    <div class="accounts dropdown">
                        <p>Accounts</p>
                        <input type="text" name="accounts" class="dropdown_text" readonly>
                        <ul class="dropdown_ul ul_accounts">
                            {% set dropdowntype = all_accounts%}
                            {% for a in range(0,length_of_accounts) %}
                            {% set loopindex = loop.index - 1 %}
                            <script>
                                console.log("loop index {{loopindex}}")
                            </script>
                            <li id="dropdown_item_{{loopindex}}">

                                <p>{{dropdowntype[loopindex][0]}}</p>
                                <p>{{dropdowntype[loopindex][1]}}</p>
                            </li>

                            {% endfor %}


                        </ul>


                    </div>


                    <div class="tags dropdown">
                        <p>Tags</p>
                        <input type="text" name="tags" class="dropdown_text" readonly>
                        <ul class="dropdown_ul ul_tags">
                            {% set dropdowntype = all_tags%}
                            {% for a in range(0,length_of_tags) %}
                            {% set loopindex = loop.index - 1 %}
                            <script>
                                console.log("loop index {{loopindex}}")
                            </script>
                            <li id="dropdown_item_{{loopindex}}">

                                <p>{{dropdowntype[loopindex][0]}}</p>
                                <p>{{dropdowntype[loopindex][1]}}</p>
                            </li>

                            {% endfor %}


                        </ul>


                    </div>

                    <div class="category dropdown">
                        <p>Categories</p>
                        <input type="text" name="category" class="dropdown_text" readonly>
                        <ul class="dropdown_ul ul_categories">
                            {% set dropdowntype = all_categories%}
                            {% for a in range(0,length_of_categories) %}
                            {% set loopindex = loop.index - 1 %}
                            <script>
                                console.log("loop index {{loopindex}}")
                            </script>
                            <li id="dropdown_item_{{loopindex}}">

                                <p>{{dropdowntype[loopindex][0]}}</p>
                                <p>{{dropdowntype[loopindex][1]}}</p>
                            </li>

                            {% endfor %}


                        </ul>


                    </div>
            
                </div>
              
                <div class="details">
                   
                    <div class="notes">
                        <p>Notes</p>
                        <textarea name="notes"></textarea>
                    </div>

                    <input type="submit" value="Submit" id="submit">
                </div>
            </form>
        </div>

    </div>
    <div class="c">

    </div>
    <script>
        dropdown = document.getElementsByClassName("dropdown")
        dropdown_ul = document.getElementsByClassName("dropdown_ul")
        dropdown_block = document.getElementsByClassName("dropdown_block")
        dropdown_text = document.getElementsByClassName("dropdown_text")
        ul_tags = document.getElementsByClassName("ul_tags")
        ul_categories = document.getElementsByClassName("ul_categories")

        console.log(dropdown)
        console.log(dropdown_ul)

        {% for a in range(0, 3) %}

        dropdown["{{a}}"].addEventListener("click", function () {
            dropdown_block[0].style.display = "block"
            dropdown_ul["{{a}}"].style.opacity = "1"
            dropdown_ul["{{a}}"].style.zIndex = "1"
        })


        dropdown_block[0].addEventListener("click", function () {
            dropdown_ul["{{a}}"].style.opacity = "0"
            dropdown_ul["{{a}}"].style.zIndex = "-1"
            dropdown_block[0].style.display = "none"
        })

      

     
        {% endfor %}
        
        {% for b in range(0, length_of_accounts*2) %}
        dropdown_ul[0].children["{{b}}"].addEventListener("click", function () {
            dropdown_text[0].value = dropdown_ul[0].children["{{b}}"].getElementsByTagName("p")[0].innerText
        })
        {% endfor %}

        {% for b in range(0, length_of_tags*2) %}
        dropdown_ul[1].children["{{b}}"].addEventListener("click", function () {
            dropdown_text[1].value = dropdown_ul[1].children["{{b}}"].getElementsByTagName("p")[0].innerText
        })
        {% endfor %}

        {% for b in range(0, length_of_categories*2) %}
        dropdown_ul[2].children["{{b}}"].addEventListener("click", function () {
            dropdown_text[2].value = dropdown_ul[2].children["{{b}}"].getElementsByTagName("p")[0].innerText
        })
        {% endfor %}



    </script>


</body>

</html>