<!DOCTYPE html>
<html lang="en">
<head>
    <title>Finance Manager</title>
    <link rel="stylesheet" href="static/income/view_id.css?q={{random_number_for_css}}">
</head>
<body>
    <div class="a">
        <div class="a1"><h2>Finance Manger</h2></div>
    </div>
    <div class="b">
        <div class="b1">
            <div class="table">
                <div class="rows types">
                 
                    <p>Date</p>
                    <p>Amount</p>
                    <p>Source</p>
                    <p>Destination</p>
                    <p>Category</p>
                </div>
                
                <div class="rows">
                    <p>{{requested_id[0] }}</p>
                    <p>{{requested_id[1] }}</p>
                    <p>{{requested_id[2] }}</p>
                    <p>{{requested_id[3] }}</p>
                    <p>{{requested_id[4] }}</p>
                    <p>{{requested_id[5] }}</p>
                    <p id="more">More</p>
                </div>
             
            </div>
        </div>
        <div class="b2">
            total balance
        </div>
    </div>
    <div class="c">

    </div>
</body>
</html>